/*image styling*/
img{
    width: 6em;
    height: 6em;
    padding: 3em;
  }
  /*header styling*/
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /*horizontal line break styling*/
  hr{
    color: burlywood;
  }