<!-- *ngIf is a structural directive! It will change the DOM structure based on a boolean -->
<!-- if the "greeteDiv" variable in TS is true, this div will display. If false, it won't -->
<div *ngIf = "greeterDiv"> <!-- greeterDiv is a TS variable of type boolean -->

    <label for="yourName"> What's your name? </label>
    <!-- Two way binding to assign the user input to this "name" variable in TS-->
    <input type="text" id="yourName" [(ngModel)]="name"> 

    <!-- Event binding to perform a function when you click this button -->
    <!-- This function will make the greeterDiv variable false, thus utilizing *ngIf -->
    <button (click)="submitName()">Submit</button>
</div>

<br>
<!--This *ngIf will be referring to the oppsite of greeterDiv -->
<!-- When the submitName() function executes, !greeterDiv will become true, displaying this greeting-->
<h2 *ngIf="!greeterDiv">Welcome, {{name}} </h2>
<br>

<div class="grid-container">

    <!-- Using [property binding] on the "hidden" property to determine if this element is visible-->
    <div class="todo-card" [hidden] = "hiddenToggle"> <!-- "hiddenToggle" refers to the TS variable -->
        <!-- {{String Interpolation}}!! Taking TS values and putting them in our HTML -->
        <!-- Grabbing these values from the todosArray -->
        <h2>Todo #{{todosArray[0].id}}</h2>
        <p>Task: {{todosArray[0].content}}</p>
        <p>Status: {{todosArray[0].status}}</p>
   
        <label for="updateBox1">Update Task?</label> 
        <!-- Two way binding! [(ngModel)] declares that this tag will take user input -->
        <input id="updateBox1" [(ngModel)]="todosArray[0].content"/>
        <!-- With this two way binding, we allow the user to update the task in the todo card-->

        <!-- This button uses (event binding) to change the status to complete -->
        <button (click)="toggleStatus(todosArray[0].id)">Complete Task</button>
    </div>

    <div class="todo-card" [hidden] = "hiddenToggle">
        <h2>Todo #{{todosArray[1].id}}</h2>
        <p>Task: {{todosArray[1].content}}</p>
        <p>Status: {{todosArray[1].status}}</p>

        <label for="updateBox1">Update Task?</label>
        <input id="updateBox1" [(ngModel)]="todosArray[1].content"/>

        <button (click)="toggleStatus(todosArray[1].id)">Complete Task</button>
    </div>

    <div class="todo-card" [hidden] = "hiddenToggle">
        <h2>Todo #{{todosArray[2].id}}</h2>
        <p>Task: {{todosArray[2].content}}</p>
        <p>Status: {{todosArray[2].status}}</p>

        <label for="updateBox1">Update Task?</label>
        <input id="updateBox1" [(ngModel)]="todosArray[2].content"/>

        <button (click)="toggleStatus(todosArray[2].id)">Complete Task</button>
    </div>

    <div class="todo-card" [hidden] = "hiddenToggle">
        <h2>Todo #{{todosArray[3].id}}</h2>
        <p>Task: {{todosArray[3].content}}</p>
        <p>Status: {{todosArray[3].status}}</p>

        <label for="updateBox1">Update Task?</label>
        <input id="updateBox1" [(ngModel)]="todosArray[3].content"/>

        <button (click)="toggleStatus(todosArray[3].id)">Complete Task</button>
    </div>

    <!-- We're going to use event binding on a button that calls a function -->
    <!-- This function will toggle our property-bound "hidden" variable between true/false -->
    <button (click)="toggleVisibility()">Toggle To Do List</button>

</div>