<!-- *ngIf is a structural directive! It will change the DOM structure based on a boolean -->
<!-- if the "greeteDiv" variable in TS is true, this div will display. If false, it won't -->
<div *ngIf = "greeterDiv"> <!-- greeterDiv is a TS variable of type boolean -->

    <label for="yourName"> What's your name? </label>
    <!-- Two way binding to assign the user input to this "name" variable in TS-->
    <input type="text" id="yourName" [(ngModel)]="name"> 

    <!-- Event binding to perform a function when you click this button -->
    <!-- This function will make the greeterDiv variable false, thus utilizing *ngIf -->
    <button (click)="submitName()">Submit</button>
</div>

<br>
<!--This *ngIf will be referring to the oppsite of greeterDiv (so it will be false by default)-->
<!-- When the submitName() function executes, !greeterDiv will become true, displaying this greeting-->
<h2 *ngIf="!greeterDiv">Welcome, {{name}} </h2>
<br>

<div class="grid-container">

    <!-- Using the *ngFor structural directive, we can just write this card once! -->
    <!-- It will populate once for every todo in the todosArray -->
    <!-- Using [property binding] on the "hidden" property to determine if this element is visible-->
    <div *ngFor = "let todo of todosArray" class="todo-card" [hidden] = "hiddenToggle"> 
                                                    <!-- "hiddenToggle" refers to the TS variable -->

        <!-- {{String Interpolation}}!! Taking TS values and putting them in our HTML -->
        <!-- Grabbing these values from the todosArray -->
        <h2>Todo #{{todo.id}}</h2>
        <p>Task: {{todo.content}}</p>
        <p>Status: {{todo.status}}</p>
   
        <label for="updateBox1">Update Task?</label> 
        <!-- Two way binding! [(ngModel)] declares that this tag will take user input -->
        <input id="updateBox1" [(ngModel)]="todo.content"/>
        <!-- With this two way binding, we allow the user to update the task in the todo card-->

        <!-- This button uses (event binding) to change the status to complete -->
        <button (click)="toggleStatus(todo.id)">Complete Task</button>
    </div>

    <!-- We're going to use event binding on a button that calls a function -->
    <!-- This function will toggle our property-bound "hidden" variable between true/false -->
    <button (click)="toggleVisibility()">Toggle To Do List</button>

</div>